/*-------------------------------------------------------------------------------
    TITLE:			SELECT2 JS
	DESCRIPTION:	Like on and off switch
---------------------------------------------------------------------------------*/


/*------------------------------------
    OVERRIDING DEFAULT CSS LAYOUT
------------------------------------*/
@at-root {
	.select2-container--default .select2-results__options {	
		margin: 0;    
	}
	.select2-results__option {
	    color: map-get( $color, gray-light-3 );
	    @include font-size( 12px );
	}

	.select2-container--default .select2-results__option[aria-selected=true] {
	    background: map-get( $color, white-dirty);
	}

	.select2-container--default .select2-results__option--highlighted[aria-selected] {
	    background-color: #5897fb;
	}
}





.select2-selection--multiple,
.select2-container .select2-search--inline,
.select2-container .select2-search--inline input {
    cursor: pointer;
} 

.select2-container .select2-selection--multiple { 
    border:1px solid #ccc; border-radius: 5px; padding: 5px;
}

.select2-container--open.select2-container--below .select2-selection--multiple {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; 
}

.select2-container--open.select2-container--above .select2-selection--multiple {
    border-top-left-radius: 0;
    border-top-right-radius: 0; 
}

.select2-selection:focus { outline: none; }
.select2-selection--single {
    height: 40px;
    border: 1px solid #ccc;
    @include vendor-prefixed( border-radius, 5px );
}
.select2-selection--single .select2-selection__rendered {
    padding-top: 6px;
    padding-bottom: 4px;
    color: map-get( $color, gray-light-3 );
    font-weight: 500;

    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    @include vendor-prefixed( text-overflow, ellipsis );
}
.select2-selection--single .select2-selection__arrow { height: 38px; }


.select2-selection__clear {
    display: none;
}

.select2-selection__clear, 
.select2-selection__choice__remove {
    margin-right: 5px;
    float: none;
}

.select2-selection--multiple .select2-selection__choice__remove {
    display: none;
}

.select2-search__field2 option {
    color: #999;
}

.select2-selection--multiple .select2-selection__choice {
    float: none;
    color: map-get( $color, gray-light-3 );

    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    background: none;
    border: none;
    margin-right: 0;

    font-weight: 500;

    padding: 0;
    width: 100%;

    @include font-size( 12px );
    @include vendor-prefixed( text-overflow, ellipsis );

    @media (min-width: $screen-tablet) {
        & {
            width: 87px;
        }
    }

    @media (min-width: $screen-desktop) {
        & {
            width: 127px;
        }
    }

    @media (min-width: $screen-lg-desktop) {
        & {
            width: 151px;
        }
    }
}
