/**
 * -------------------------------------------------------------
 *
 *     CSS Name: COLORS
 *  Description: ALL COLORS SHOULD BE DECLARED ON THIS FILE
 * 
 * -------------------------------------------------------------
 */


$color: (
  white:                  #ffffff,
  white-dirty:            #f3f2ee,
  dodger-blue:            #097099,
  dodger-blue-2:          #066f9d,
  dodger-blue__dark:      #145072,  
  gray:                   #666666,
  gray-31:                #4f4f4f,
  gray-dark:              #444444,
  gray-dark-1:            #948f8d,
  gray-dark-2:            #969190,
  gray-dark-3:            #96918f,
  gray-light:             #979290,
  gray-light-1:           #cccbc8,
  gray-light-2:           #e7e6e2,
  gray-light-3:           #969190,
  gray-light-4:           #dcdad7,
  gray-light-5:           #cccac7,
  gray-light-6:           #e8e6e2,
  gray-light-7:           #8f8a88,
  gray-1:                 #8c8c8a,
  gray-2:                 #dddddd,
  dodger-blue__dark-1:    #046086,
  orient:      			      #165072,
  sky-blue:      				  #7ab1db,
  sky-blue-1:             #5198c4,
  sky-blue-2:             #5199c5,
  sky-blue-3:             #519ac6,
  sky-blue-4:             #0a709c,
  sky-blue-5:             #e4f0f8,
  sky-blue-6:             #cbe1f1,
  sky-blue-7:             #5198c4,
  royal-blue-1:           #056f9d,
  royal-blue-2:           #155072,
  green-1:                #6b9840,
  green-light:            #c8dcb6,
  green-light-1:          #b9d29f,
  green-dark:			        #77aa43,
  green-dark-1:           #61883f,
  green-dark-2:           #77a943,
  green-dark-3:           #679334,
  green-mint:             #76a743,
  green-mint-1:           #98bf72,
  green-mint-2:           #a9c989,
  green-mint-3:           #a4c682,
  green-superlight:       #ccdfb9,
  green-superlight-1:     #a2d869,
  yellowneutral:          #facb1a,
  yellow-1:               #f2a33c,
  yellow-2:               #f2ca24,
  yellow-light:           #fcf49a,
  yellow-light-1:         #f8f0a9,
  yellow-light-2:         #f5e297,
  yellow-light-3:         #fbefbd,
  yellow-dark:            #f9b515,
  black-light:            #312f2e,
  orange:                 #f37619,
  dark-orange:            #e55f2c,
  violet:                 #803580,
  violet-1:               #ba0b7e,
);
